@import "./notHeader.css";
/* @import "./header.css";  */

html,
body {
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;

  font-family: 'Lemonmilk-medium';
}

.contentDiv {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
